.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color)
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
  margin-left: 6px;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}



.section.highlight-dark{
    .cards > ul > li {
    border: 0;
    background-color: #000a14;
   }

   .cards > ul > li img {
    height: 65px;
    width: 65px;
    object-fit: cover;
  }

  .cards {
     p {
       font-size: 16px;
     }
     h3{
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.2px;
      font-weight: 600;
     }
  }
  
}

.section.columns-3 > div {
  width: 100%;
  padding: 0 !important;
  margin: 0;
  max-width: 100%;
}

.columns-3{
  
  padding:0 12px !important;

  .cards > ul > li {
    border: 0px;
  }

  .cards .cards-card-image {
    line-height: 0;
    margin-left: 0;
  }
  .cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, minmax(278px, 1fr));
    gap:0;
}


}

@media (width >= 900px) {
  .columns-3{

    padding:0 !important;
  
    .cards > ul > li {
      border: 0px;
      position: relative;
      background-color: rgba(0, 18, 95, 0.8);
    }
  
    .cards .cards-card-image {
      line-height: 0;
      margin-left: 0;
      height: 800px;
    }

    img{
      object-fit: cover;
      height: 100%;
      background-color: rgba(0, 18, 95, 0.8);
    }

    .cards > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: grid;
    grid-template-columns: repeat(3, minmax(278px, 1fr));
      gap:0;
  }

  .cards .cards-card-body {
    background-color: rgba(0, 18, 95, 0.8);
    margin: 0px;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    flex-direction: column;
    padding: 0px 80px 0 80px;
    height: 800px;

    h3{
      font-size: 48px;
      letter-spacing: 2px;
      font-weight: 100;
    }
  }
  }

  .cards .cards-card-image:hover{
    transform: scale(1.2);
  }
  .img:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
}

