main .hero-container > div {
  max-width: unset;
}
  
main .hero-container {
  padding: 0;
}

.hero {
  position: relative;
  padding: 48px;
  min-height: 560px;
}

.hero h1 {
  max-width: 820px;
  margin-left: 120px;
  margin-right: auto;
  color: white;
  font-weight:400;
}

.hero h2 {
  max-width: 640px;
  margin-left: 120px;
  margin-right: auto;
  color: white;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 1px;
  font-weight: 500;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
