
footer{

  margin-top: -130px;

  p{
    margin-top: 0;
    margin-bottom: 0;
    margin-left:10px;

    strong{
      margin-top:8px;
    }
  }
}


@media (width >=900px) {
  footer {
    background: white;
    margin-bottom: 48px;
    margin-top: -80px;

    .footer {

      .columns {
        display: flex;
        flex-direction: row;
        max-width: 1256px;

        div{
          display: flex;
          flex-direction: column;
          width: 25%;
          gap:0px;
           div{
            width: 100%;
           }
        }

        p {
          margin: 5px;
          font-size: 16px;
          letter-spacing: 1px;
        }
      }

      .footer-column:last-child{
        border-left: 1px solid grey;
        padding-left: 18px;
      }

    }
  }
}